*{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
}
.first, .third, .footer{
    background-color: #3F7CAF;
    color: #ffffff;
}
.offcanvas.show:not(.hiding){
    width: 150px;
}
.offcanvas{
    --bs-offcanvas-width: 150px;
}
.offcanvas-header{
    justify-content:flex-end;
}
.offcanvas-backdrop.show{
    opacity: 0;
}
.bg-dark{
    background-color:rgba(0, 0, 0, 0.274);
}
.dark{
    background-color: #0f2737;
    color: #ffffff;
}
.toggle-theme-btn {
    width: 100px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #212121;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-theme-btn:hover,
  .toggle-theme-btn:focus {
    background-color: #0f2737;
  }
  
  .toggle-theme-btn.dark {
    background-color: #fff;
    color: #212121;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  }
  
  .toggle-theme-btn.dark:hover,
  .toggle-theme-btn.dark:focus {
    background-color: #3F7CAF;
    color: white;
  }
  
  .toggle-theme-btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .toggle-theme-btn__icon i {
    font-size: 10px;
  }
  
  .toggle-theme-btn__icon .fa-moon {
    display: none;
    color: #fff;
  }
  
  .toggle-theme-btn.dark .toggle-theme-btn__icon .fa-moon {
    display: inline;
  }
  
  .toggle-theme-btn.dark .toggle-theme-btn__icon .fa-sun {
    display: none;
  }
  
  .toggle-theme-btn__label {
    margin-right: 10px;
  }  
#first{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photocv img{
    height: 500px;
    width: auto;
}
h1{
    text-decoration: underline;
    padding-bottom: 0px;
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid black;
}
.atouts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid black;
}
.atouts ul{
    padding: 0px;
}
.atouts li{
    list-style-type: none;
}
.competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.competences li{
    list-style-type: none;
}
.competences ul{
    padding: 0px;
}
#third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.diplomes li{
    list-style-type: none;
}
.diplomes ul{
    padding: 0px;
}
.experiencespro ul{
    padding: 0px;
}
.experiencespro li{
    list-style-type: none;
}
.passions img{
    height: 300px;
    width: 100%;
}

.passions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    height: 350px;
}
.footer a{
    color: #ffffff;
}
.footerdispo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reseaux h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
#third{
    padding-top: 65px;
}
.diplomes h1{
    padding-bottom: 65px;
}
.experiencespro{
    padding-top: 65px;
}
.titre{
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#second{
    padding-top: 65px;
}
.passions{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}
@media (min-width:667px) and (min-width:300px) {
    #first{
        height: 100vh;
    }
    .photocv img{
        height: 100vh;
    }
    .about-me p{
        width: 400px;
    }
    .text-align{
        width: 400px;
    }
    .passions img{
        width: 400px;
    }
    .reseaux{
        width: 300px;
    }
    .icon{
        margin-top: 27px;
    }
    footer{
        height: 300px;
    }
    .footerdispo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    section,footer{
        font-size: 24px;
    }
    .offcanvas.show:not(.hiding){
        width: 250px;
    }
    .offcanvas{
        --bs-offcanvas-width: 250px;
    }
}
@media (min-width:667px) and (min-width:820px) {
    .photocv img{
        height: 100vh;
    }
    #third{
        padding-top: 65px;
    }
    .diplomes h1{
        padding-bottom: 65px;
    }
    .experiencespro{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .passions{
        padding-top: 65px;
        padding-bottom: 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    #second{
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
@media (min-width:820px) and (min-width:1200px) {
    .photocv img{
        height: 100vh;
    }
    .text-align{
        width: 100%;
    }
    #third{
        padding-top: 65px;
    }
    .diplomes h1{
        padding-bottom: 65px;
    }
    .experiencespro{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    #four{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .passions{
        width: 100vh;
        padding-top: 65px;
        padding-bottom: 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 65px;
    }
    #second{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .footerdispo{
        justify-content: space-between;
        padding: 30px;
    }
    .icon{
        margin: 0px;
    }
}