*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    width: 100%;
}

/*
  Menu
*/
nav#slide-menu {
    position: fixed;
   background-color: #556270;
    top: 0;
    left: -100px;
    bottom: 0;
    display: block;
    float: left;
    width: 100%;
    max-width: 284px;
    height: 100%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  nav#slide-menu > ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  nav#slide-menu > ul li {
    color: #dfe5eb;
    padding: 6px 0;
    cursor: pointer;
  }
  nav#slide-menu > ul li:hover {
    color: #59e9df;
  }
  nav#slide-menu > ul li:before {
    font-family: "ico";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    color: #59e9df;
    margin-right: 12px;
    text-align: center;
    font-variant: normal;
    font-size: 0.75em;
    text-transform: none;
    line-height: 1em;
  }
  
  nav#slide-menu > ul li i{
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    color: #59e9df;
    margin-right: 12px;
    text-align: center;
    font-variant: normal;
    font-size: 0.75em;
    text-transform: none;
    line-height: 1em;
  }
  nav#slide-menu > ul li.sep {
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
  }
  
  .container.menu-active nav#slide-menu {
    left: 0px;
  }
  
  .container.menu-active nav#slide-menu ul {
    left: 0px;
    opacity: 1;
  }
  
  /*
    Content
  */
  div#content {
    background: #fcfeff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
    overflow: scroll;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: -3px 0 6px #4a5562;
    -webkit-box-shadow: -3px 0 6px #4a5562;
    box-shadow: -3px 0 6px #4a5562;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  div#content div.menu-trigger {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    background: #dfe5eb;
    cursor: pointer;
    border-radius: 5px;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  div#content div.menu-trigger i {
    display: inline-block;
    width: 36px;
    height: 36px;
    color: black;
    font-style: normal;
    font-size: 1.2em;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    line-height: 36px;
  }
  div#content div.menu-trigger:hover {
    background: #556270;
  }
  div#content div.menu-trigger i:hover {
    color: #fcfeff;
  }
  
  .container.menu-active div#content {
    left: 284px;
    border-radius: 7px 0 0 7px;
  }
  
  .container.menu-active div#content .menu-trigger {
    left: 294px;
  }
.bg-dark{
    background-color:rgba(0, 0, 0, 0.274);
}
.dark{
    background-color: #403f3f !important;
    color: #ffffff !important;
}
.toggle-theme-btn {
    position: fixed;
    top: 3px;
    left: 100px;
    width: 36px;
    height: 36px;
    background: #dfe5eb;
    cursor: pointer;
    border-radius: 5px;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    width: 100px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #212121;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-theme-btn:hover,
  .toggle-theme-btn:focus {
    background-color: #0f2737;
  }
  
  .toggle-theme-btn.dark {
    background-color: #0d921d;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  }
  
  .toggle-theme-btn.dark:hover,
  .toggle-theme-btn.dark:focus {
    background-color: #3F7CAF;
    color: white;
  }
  
  .toggle-theme-btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .toggle-theme-btn__icon i {
    font-size: 10px;
  }
  
  .toggle-theme-btn__icon .fa-moon {
    display: none;
    color: #fff;
  }
  
  .toggle-theme-btn.dark .toggle-theme-btn__icon .fa-moon {
    display: inline;
  }
  
  .toggle-theme-btn.dark .toggle-theme-btn__icon .fa-sun {
    display: none;
  }
  
  .toggle-theme-btn__label {
    margin-right: 10px;
  }  

#first{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
s
.photocv img{
    height: 500px;
    width: 350px;
}
.photocv img:nth-child(2){
    display: none;
}
h1{
    text-decoration: underline;
    padding-bottom: 0px;
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.atouts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.atouts ul{
    padding: 0px;
}
.atouts li{
    list-style-type: none;
}
.competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.competences li{
    list-style-type: none;
}
.competences ul{
    padding: 0px;
}
#third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.diplomes li{
    list-style-type: none;
}
.diplomes ul{
    padding: 0px;
}
.experiencespro ul{
    padding: 0px;
}
.experiencespro li{
    list-style-type: none;
}
.passions img{
    height: 300px;
    width: 100%;
}

.passions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reseaux{
    padding-left: 21px;
    color: black;
}
.footerdispo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reseaux h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titre{
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.passions{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}
@media (min-width:667px) and (min-width:300px) {
    #first{
        height: 100vh;
    }
    .photocv img{
        height: 100vh;
        width: auto;
    }
    .photocv img:nth-child(1){
        display: none;
    }
    .photocv img:nth-child(2){
        display: flex;
        height: 100vh;
        width: auto;
    }
    .about-me p{
        width: 400px;
    }
    .text-align{
        width: 400px;
    }
    .passions img{
        width: 400px;
    }
    .reseaux{
        width: 300px;
    }
    .icon{
        margin-top: 27px;
    }
    footer{
        height: 300px;
    }
    .footerdispo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    section,footer{
        font-size: 24px;
    }
    .offcanvas.show:not(.hiding){
        width: 250px;
    }
    .offcanvas{
        --bs-offcanvas-width: 250px;
    }
}
@media (min-width:667px) and (min-width:820px) {
    .photocv img{
        height: 100vh;
        width: auto;
    }
    .photocv img:nth-child(1){
        display: none;
    }
    
    #third{
        padding-top: 65px;
    }
    .diplomes h1{
        padding-bottom: 65px;
    }
    .experiencespro{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .passions{
        padding-top: 65px;
        padding-bottom: 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    #second{
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
@media (min-width:820px) and (min-width:1200px) {
    .photocv img:nth-child(1){
        display: none;
    }
    .text-align{
        width: 100%;
    }
    #third{
        padding-top: 65px;
    }
    .diplomes h1{
        padding-bottom: 65px;
    }
    .experiencespro{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    #four{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .passions{
        width: 100vh;
        padding-top: 65px;
        padding-bottom: 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 65px;
    }
    #second{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .footerdispo{
        justify-content: space-between;
        padding: 30px;
    }
    .icon{
        margin: 0px;
    }
}